<!DOCTYPE html>
<html>
<head>
    <title>Backend Page - Ticket Booking System</title>
    <!-- Add Bootstrap CSS link -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>
<body style="align-items: center;">
    
    <div class="container" style="text-align:  center; align-items: center;">
    </br></br></br></br> 
  
    <h1 style="align-items: center; color: gold;">Welcome To The Backend Of GoodSoup Ticket Booking System</h1>
    </div>
</body>
</html>
<style>

    body {
        margin: 0;
        padding: 0;
        height: 770px;
        background-image: url('https://i.stack.imgur.com/vhoa0.jpg');
        background-size:cover; /* Adjust as needed to cover the entire background */
        background-repeat: no-repeat; /* Prevent the image from repeating */
    }
    /* Add more CSS styles as needed for your content */
</style>